/*--------------------------------*\
      #custom property
\*--------------------------------*/
:root{
    /**
     *  COLORS
     */

     --white: hsl(0, 0%, 100%);
     --overlay-bg: hsla(0, 3%, 13%, 0.5);
     
     /* Light theme */

     --background: hsl(0, 3%, 13%);
     --on-background: hsl(0, 0%, 100%);
     --on-background-variant: hsl(20, 3%, 19%);
     --primary: hsl(124, 60%, 48%);
     --primary-hover: hsl(119, 71%, 31%);
     --primary-container: hsl(14, 57%, 95%);
     --error: hsl(1,73%,42%);
     --active-indicator: hsl(12 ,58% ,88% );
     --image-background: hsl(0 ,0% ,70%);
     --badge-btn: hsl(30 ,58% ,88% );
     --on-badge-btn: hsl(24, 7%, 14%);
     --outline: hsl(10, 19%, 88%);
     --input-outline: hsl(7, 7%, 73%);
     --input-outline-hover: hsl(9, 3%, 52%);
     --alpha-10: hsla(0, 0%, 0%, 0.1);
     --alpha-20: hsla(0, 0%, 0%, 0.2);

     /**
      * TYPOGRAPHY
     */

     /* font family*/

     --font-primary: 'DM Serif Display', serif;
     --font-secondary: 'DM Sans', sans-serif;

     /* font size */
     --fs-base: 62.5%;
     --fs-display-large: 2.8rem;
     --fs-display-medium: 3.2rem;
     --fs-display-small: 2.6rem;
     --fs-headline-small: 2.4rem;
     --fs-title-medium: 1.6rem;
     --fs-title-small: 1.4rem;
     --fs-body-large: 1.6rem;
     --fs-body-medium: 1.4rem;
     --fs-body-small: 1.4rem;
     --fs-label-large: 1.4rem;
     --fs-label-medium: 1.2rem;
     --fs-label-small: 1.1rem;

     /* font weight */
     --weight-regular: 400;
     --weight-medium: 500;

     /**
      * BORDER RADIUS
      */
     --radius-4: 4px;
     --radius-8: 8px;
     --radius-circle: 50%;
     --radius-pill: 500px;

      /**
       * BOX SHADOW
       */
     --shadow-1: 0 -1px 8px hsla(0, 0%, 0%, 0.2);
     --shadow-2: 0 2px 4px 1px hsla(0, 0%, 0%, 0.3);

     --header-height: 64px;
     --section-gap: 32px;
}

@media(prefers-reduced-motion: no-preference){
    :root{

        /**
         * TRANSITION
         */
         --transition-timing-function: cubic-bezier(0.2, 0, 0 ,1);
         --transition-short: 200ms var(--transition-timing-function);
         --transition-medium: 500ms var(--transition-timing-function);

    }
}

/*--------------------------------*\
      #TYPOGROPHY
\*--------------------------------*/

.display-large {
    font-family: var(--font-primary);
    font-size: var(--fs-display-large);
    font-weight: var(--weight_regular);
    line-height: 32px;
    letter-spacing: -0.25px;
}

.display-medium {
    font-size: var(--fs-display-medium);
    line-height: 36px;
}

.display-small{
    font-family: var(--font-primary);
    font-size: var(--fs-display-small);
    font-weight: var(--weight-regular);
    line-height: 32px;
}

.headline-small {
    font-size: var(--fs-headline-small);
    font-weight: var(--weight-regular);
    line-height: 32px;
}

.title-medium {
    font-size: var(--fs-title-medium);
    font-weight: var(--weight-medium);
    line-height: 24px;
    letter-spacing: 0.15px;
}

.title-small {
    font-size: var(--fs-title-small);
    font-weight: var(--weight-medium);
    line-height: 20px;
    letter-spacing: 0.1px;
}

.body-large {
    font-size: var(--fs-body-large);
    line-height: 24px;
    letter-spacing: 0.5px;
}

.body-medium {
    font-size: var(--fs-body-medium);
    line-height: 20px;
    letter-spacing: 0.25px;
}

.label-large {
    font-size: var(--fs-label-large);
    font-weight:var(--weight-medium) ;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.label-medium {
    font-size: var(--fs-label-medium);
    font-weight:var(--weight-medium) ;
    line-height: 16px;
    letter-spacing: 0.5px;
}

.label-small {
    font-size: var(--fs-label-small);
    font-weight:var(--weight-medium) ;
    line-height: 16px;
    letter-spacing: 0.5px;
}

/*--------------------------------*\
      #HERO
\*--------------------------------*/

.hero {
    background-image: url('/img/hero-background.jpg');
    background-size: cover;
    height: 600px;
    padding-left: 200px;
}

/*--------------------------------*\
      #TABLIST
\*--------------------------------*/